.h3 {
    margin: 8px 0;
}
.ul {
    margin: 8px 0;
    display: inline-flex;
    list-style-type: none;
}

.li {
    margin: 0 15px
}

.button {
    padding: 4px 8px;
    cursor: pointer;
    background-color: rebeccapurple;
    border-radius: 5px;
    color: white;
    opacity: 0.8;
}

.button:disabled {
    opacity: 1;
    cursor: unset;
    background-color: blueviolet;
}

.button:hover {
    opacity: 1;
}